<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-01.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>作为一个深受中华传统文化熏陶而长大的中国人，我迫切希望能早日见到春晚节目出现在我家的电视上。</string>
		<key>userName</key>
		<string>苦逼的快递哥小马</string>
	</dict>
	<key>Item 1</key>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>createdAt</key>
		<string>8:12</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-02.png</string>
		<key>source</key>
		<string>一加手机</string>
		<key>text</key>
		<string>向格力的董总请教如何做产品，董总的经营哲学和直率真诚自信果断的风格令我印象深刻:没有创新的企业没有灵魂，没有精品的企业丑陋，没有核心技术的企业没有脊梁。希望360做产品特别是做路由器儿童手表智能摄像机等智能硬件的同学认真学习领会。参观格力后才知道格力的技术产品内功很深</string>
		<key>userName</key>
		<string>周鸿祎</string>
	</dict>
	<key>Item 2</key>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>createdAt</key>
		<string>7:56</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-03.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>每次我在视频里穿的衣服都会在微信公众帐号推送视频更新的时候写在内容的最后啊～</string>
		<key>userName</key>
		<string>陈震同学</string>
	</dict>
	<key>Item 3</key>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>createdAt</key>
		<string>7:34</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-04.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>I am good, but not an angel. i do sin, but i am not the devil. i am just a small girl in a big world trying to find someone to love. 我很好，但不是天使，我有时候做坏事，但也不是恶魔。我只是个小女孩，是个在这个大千世界里寻找爱情的女孩。</string>
		<key>userName</key>
		<string>经典英文语录</string>
	</dict>
	<key>Item 4</key>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>createdAt</key>
		<string>7:12</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-05.png</string>
		<key>source</key>
		<string>Weibo.com</string>
		<key>text</key>
		<string>都三九了，今年这雪下还是不下了？丢不丢人？丢不丢武汉的脸！你让腊鱼怎么看！让腊肉怎么想！让其它腊鸡腊鸭在武汉怎么混？都这时候了还零上呢！每天还艳阳高照呢！和谁晒脸呢？秋天，你走不走了？冬天，你来不来了？你俩处对象呢？恋恋不舍，磨磨唧唧的。整的这天忽冷忽热的。俺们可都是无辜的。[怒]</string>
		<key>userName</key>
		<string>武汉路边社</string>
	</dict>
	<key>Item 5</key>
	<dict>
		<key>Id</key>
		<integer>6</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-01.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>作为一个深受中华传统文化熏陶而长大的中国人，我迫切希望能早日见到春晚节目出现在我家的电视上。</string>
		<key>userName</key>
		<string>苦逼的快递哥小马</string>
	</dict>
	<key>Item 6</key>
	<dict>
		<key>Id</key>
		<integer>7</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-01.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>作为一个深受中华传统文化熏陶而长大的中国人，我迫切希望能早日见到春晚节目出现在我家的电视上。</string>
		<key>userName</key>
		<string>苦逼的快递哥小马</string>
	</dict>
	<key>Item 7</key>
	<dict>
		<key>Id</key>
		<integer>8</integer>
		<key>createdAt</key>
		<string>8:12</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-02.png</string>
		<key>source</key>
		<string>一加手机</string>
		<key>text</key>
		<string>向格力的董总请教如何做产品，董总的经营哲学和直率真诚自信果断的风格令我印象深刻:没有创新的企业没有灵魂，没有精品的企业丑陋，没有核心技术的企业没有脊梁。希望360做产品特别是做路由器儿童手表智能摄像机等智能硬件的同学认真学习领会。参观格力后才知道格力的技术产品内功很深</string>
		<key>userName</key>
		<string>周鸿祎</string>
	</dict>
	<key>Item 8</key>
	<dict>
		<key>Id</key>
		<integer>9</integer>
		<key>createdAt</key>
		<string>7:56</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-03.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>每次我在视频里穿的衣服都会在微信公众帐号推送视频更新的时候写在内容的最后啊～</string>
		<key>userName</key>
		<string>陈震同学</string>
	</dict>
	<key>Item 9</key>
	<dict>
		<key>Id</key>
		<integer>10</integer>
		<key>createdAt</key>
		<string>7:34</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-04.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>I am good, but not an angel. i do sin, but i am not the devil. i am just a small girl in a big world trying to find someone to love. 我很好，但不是天使，我有时候做坏事，但也不是恶魔。我只是个小女孩，是个在这个大千世界里寻找爱情的女孩。</string>
		<key>userName</key>
		<string>经典英文语录</string>
	</dict>
	<key>Item 10</key>
	<dict>
		<key>Id</key>
		<integer>11</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>iconURL</key>
		<string>icon-01.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>作为一个深受中华传统文化熏陶而长大的中国人，我迫切希望能早日见到春晚节目出现在我家的电视上。</string>
		<key>userName</key>
		<string>苦逼的快递哥小马</string>
	</dict>
</dict>
</plist>
